*{
    margin: 0;
    padding: 0;
}

body {
    width: 99%;
    margin-left:auto;
    margin-right:auto;
    /* max-width: 960px; */

}

header {
    width: 100%;
    background-color: #b9090b;
}

.brand-logo{
	padding-left:15px;
}

footer {
    width: 100%;
}

header img {
    width: 25%;
    margin-left: 35%;
}

.slider {
   width: 30%;
    /* float: left !important; */
 /*    margin-left: 28%; */
    /* position: fixed; */
    left: 0;
    right: 0;
    margin: 0 auto;
}

.progress {
     margin-left: 25% !important;
     width:50% !important;
}

main {
    height: 100% !important;
}

.row .col .s8{
	width: 100%;
}

.row{
	text-align: center;
}

.slider .slides li img {
    max-width: 100% !important;
}

.card {
    width: 100%;
    height: 100%;
    
}

@media (max-width: 1085px){

.slider {
        width: 300px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	
	nav .brand-logo {
	font-size: 1.5rem;
	}
		.hide-on-med-and-down {
    /*  display: list-item !important;  */
}

	
}

@media (max-width: 379px){
	.slider {
   width: 100%;
   height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

}

.ng-invalid .ng-dirty {
    border-color: darkred;
}

.ng-valid .ng-dirty {
    border-color: greenyellow;
}