*{
    
 margin-left: 0.5%;
}

body {
    width: 99%;
}

header {
    width: 100%;
    background-color: #b9090b;
}

footer {
    width: 100%;
}

header img {
    width: 25%;
    margin-left: 35%;
}

.progress {
     margin-left: 25% !important;
     width:50% !important;
}