*{
    
 margin-left: 0.5%;
}

body {
    width: 99%;
    max-height: 1000px;
}

header {
    width: 100%;
    background-color: #b9090b;
}

footer {
    width: 100%;
}

header img {
    width: 25%;
    margin-left: 35%;
}

.slider {
    width: 33% !important;
    float: left !important;
    margin-left: 28%;
}

.progress {
     margin-left: 25% !important;
     width:50% !important;
}

main {
    height: 500px !important;
}

