*{
    margin: 0;
    padding: 0;
}

body {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    max-width: 960px;

}

header {
    width: 100%;
    background-color: #b9090b;
}

footer {
    width: 100%;
}

header img {
    width: 25%;
    margin-left: 35%;
}

.slider {
   width: 50%;
     height: auto;
    /* float: left !important; */
 /*    margin-left: 28%; */
    /* position: fixed; */
    left: 0;
    right: 0;
    margin: 0 auto;
}

.progress {
     margin-left: 25% !important;
     width:50% !important;
}

main {
    height: 100% !important;
}

@media (max-width: 991px){

		.slider {
	   width: 300px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	nav .brand-logo {
	font-size: 1.5rem;
	}
}



@media (max-width: 379px){
	.slider {
   width: 100%;
   height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

}

    