<h5 class="grey-text">Confira o que a Netflix tem a oferecer antes de pagar a conta!  ;)</h5>
<div class="slider">
    <ul class="slides">
        <li>
            <img src="http://netflixroulette.net/api/posters/520179.jpg">
        </li>
        <li>
            <img src = "http://netflixroulette.net/api/posters/60032563.jpg">
        </li>
        <li>
            <img src = "http://netflixroulette.net/api/posters/880640.jpg">
        </li>
    </ul>    
</div>


<script>
  $(document).ready(function() {
      $('.slider').slider();
  });
</script>