            <div class="progress" ng-show="fc.preload">
                <div class="indeterminate"></div>
            </div>
			
<div class="row card-panel" >
    <form  class="col s12" ng-submit="consultaform.$valid && fc.getFlixJson()" name="consultaform" novalidate>
        <div class="row">
            <div class="input-field col s8">
                <select class = "browser-default" ng-model="fc.type" required >
                    <option value="" disabled selected>Pesquisar...</option>
                    <option value="director">Diretor</option>
					                    <option value="title">Filme</option>
                    <option value="actor">Ator</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8">
                <input type="text" id="name" name="name" ng-model="fc.name" required/>
                <label for="name">Nome</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button class="btn waves-effect red waves-light" type="submit" name="action">
                    Pesquisar<i class="material-icons left">send</i>
                </button>
            </div>
        </div>
     <!-- <div>O formulario é {{consultaform.$valid}}</div>  -->

	
    </form>
	
</div>

   <div class="row card-panel" >
   <div >
		<h4 class="grey-text" > Resultado para {{fc.type}}</h4>
	</div>
    <div class="col s12 m6 l3" ng-repeat="ful in fc.info">
	   <div class="card">
            <div class="card-image">
              <img id="poster" class = "responsive-img" onerror="noPoster(this)" src="{{ful.poster}}">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>{{ful.show_title}}</p>
            </div>
            <div class="card-action">
              <a  ng-href="#/detalhes/{{ful.show_title}}">Detalhes</a>
            </div>
       </div>
	</div>
  </div>

<script>
    function noPoster(img) {
        img.src = "images/notFound.gif";
    }
</script>